.body

.row
  .col-md-6
    .row
      .col-md-6
        .bg-hba1c
          .row
            .col-md-9
              .hba1c-title
                Hba1c
            .col-md-3
              .check
          .row
            .col-md-12 
              .col-md-3
                .pastvalue 
                  100.5
              .col-md-6
                .newvalue 
                  106.2
              .col-md-3      
                .unit
                  MMO/L
          .row
            .col-md-12
              .lastdate
                Hba1c laatst gemeten op: 12-04-16

    