:javascript
  AmCharts.makeChart("bloodpressure",
    {
          "type": "serial",
          "categoryField": "date",
          "dataDateFormat": "YYYY-MM-DD",
          "plotAreaFillColors": "#E8E8E8",
          "categoryAxis": {
            "parseDates": true,
            "axisAlpha": 0,
            "axisThickness": 0,
            "gridAlpha": 1,
            "gridCount": 0,
            "gridThickness": 0,
            "tickLength": 0
          },
          "chartCursor": {
            "enabled": true,
            "cursorColor": "#FF6851",
            "valueLineAlpha": 0
          },
          "chartScrollbar": {
            "enabled": true
          },
          "trendLines": [],
          "graphs": [
            {
              "bullet": "round",
              "bulletBorderThickness": 1,
              "fillColors": "#51BDE9",
              "id": "AmGraph-overpressure",
              "lineColor": "#51BDE9",
              "title": "Bovendruk",
              "valueField": "Bovendruk"
            },
            {
              "balloonColor": "#0E71AC",
              "bullet": "round",
              "id": "AmGraph-underpressure",
              "lineColor": "#0E71AC",
              "title": "Onderdruk",
              "valueField": "Onderdruk"
            }
          ],
          "guides": [],
          "valueAxes": [
            {
              "id": "ValueAxis-1",
              "axisAlpha": 0,
              "axisThickness": 0,
              "gridAlpha": 0,
              "gridThickness": 0,
              "minorGridAlpha": 0,
              "tickLength": 0
            }
          ],
          "allLabels": [],
          "balloon": {},
          "titles": [],
          "dataProvider": [
            {
              "date": "2014-03-01",
              "Bovendruk": 8,
              "Onderdruk": 5
            },
            {
              "date": "2014-03-02",
              "Bovendruk": 6,
              "Onderdruk": 7
            },
            {
              "date": "2014-03-03",
              "Bovendruk": 2,
              "Onderdruk": 3
            },
            {
              "date": "2014-03-04",
              "Bovendruk": 1,
              "Onderdruk": 3
            },
            {
              "date": "2014-03-05",
              "Bovendruk": 2,
              "Onderdruk": 1
            },
            {
              "date": "2014-03-06",
              "Bovendruk": 3,
              "Onderdruk": 2
            },
            {
              "date": "2014-03-07",
              "Bovendruk": "5",
              "Onderdruk": "6"
            }
          ]
        }
      );