.row
  .col-md-12
    .title
      Klachten

.row
  .col-md-12
    .title-border
      %hr
.row
  .col-md-12
    .content-container
      .row
        .col-md-12
          .content
          .row
            .col-md-12
              .complain-title
                Last van de knie
          .row
            .col-md-12
              .date-title
                Datum: 21-04-2015, Tijd:16:25

          .row
            .col-md-12
              .author-title
                Geschreven door: Marieke van Aalst (verzorger)
              %br
          .row
            .col-md-12
              .plain-text
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum Quintus: Est plane, Piso, ut dicis, inquit. Summus dolor plures dies manere non potest? Quamquam te quidem video minime esse deterritum. Cupiditates non Epicuri divisione finiebat, sed sua satietate. Res enim se praeclare habebat, et quidem in utraque parte. Praeclare hoc quidem.
      %hr
      .row
        .col-md-12
          .content
          .row
            .col-md-12
              .complain-title
                Last van hoofdpijn
          .row
            .col-md-12
              .date-title
                Datum: 21-04-2015, Tijd:16:25
          .row
            .col-md-12
              .author-title
                Geschreven door: Nick Jagersmal (verzorger)
              %br
          .row
            .col-md-12
              .plain-text
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum Quintus: Est plane, Piso, ut dicis, inquit. Summus dolor plures dies manere non potest? Quamquam te quidem video minime esse deterritum. Cupiditates non Epicuri divisione finiebat, sed sua satietate. Res enim se praeclare habebat, et quidem in utraque parte. Praeclare hoc quidem.
      %hr
      .row
        .col-md-12
          .content
          .row
            .col-md-12
              .complain-title
                Last van been
          .row
            .col-md-12
              .date-title
                Datum: 21-04-2015, Tijd:16:25
          .row
            .col-md-12
              .author-title
                Geschreven door: Rob bolten (verzorger)
              %br
          .row
            .col-md-12
              .plain-text
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum Quintus: Est plane, Piso, ut dicis, inquit. Summus dolor plures dies manere non potest? Quamquam te quidem video minime esse deterritum. Cupiditates non Epicuri divisione finiebat, sed sua satietate. Res enim se praeclare habebat, et quidem in utraque parte. Praeclare hoc quidem.
