:javascript
  AmCharts.makeChart("chartdiv",
    {
      "type": "serial",
      "categoryField": "date",
      "columnWidth": 0,
      "dataDateFormat": "YYYY-MM-DD HH:NN",
      "plotAreaFillAlphas": 1,
      "categoryAxis": {
        "autoRotateAngle": 90,
        "autoRotateCount": 0,
        "minPeriod": "mm",
        "parseDates": true,
        "axisAlpha": 0,
        "axisColor": "#FFFFFF",
        "axisThickness": 0,
        "fontSize": 10,
        "gridAlpha": 0,
        "gridColor": "#FFFFFF",
        "labelOffset": 5,
        "minorGridAlpha": 0,
        "tickLength": 0
      },
      "chartCursor": {
        "enabled": true,
        "categoryBalloonDateFormat": "JJ:NN"
      },
      "chartScrollbar": {
        "enabled": true
      },
      "trendLines": [
        {
          "balloonText": "Streefwaarde",
          "finalDate": "2014-03-01",
          "finalValue": 8,
          "finalXValue": 8,
          "id": "HYPER",
          "initialDate": "2014-03-06 24:00",
          "initialValue": 8,
          "initialXValue": 8,
          "lineAlpha": 0.56,
          "lineColor": "#51BDE9"
        }
      ],
      "graphs": [
        {
          "bullet": "round",
          "columnWidth": 0,
          "fillColors": "#FFF",
          "id": "AmGraph-3",
          "lineColor": "#0E71AC",
          "negativeFillAlphas": 0,
          "title": "graph 3",
          "valueField": "column-2"
        }
      ],
      "guides": [
        {
          "category": "hypo",
          "color": "#000000",
          "dashLength": 0,
          "date": "2016-04-30 24:00",
          "fillAlpha": 1,
          "fillColor": "#E8E8E8",
          "fontSize": 12,
          "id": "hypo",
          "inside": true,
          "label": "hypo",
          "labelRotation": 0,
          "lineAlpha": 1,
          "lineColor": "#51BDE9",
          "lineThickness": 1,
          "toCategory": "hypo",
          "toValue": 3.7,
          "value": 0
        },
        {
          "fillAlpha": 0.14,
          "fillColor": "#51BDE9",
          "fontSize": 0,
          "id": "Streefwaarde",
          "toValue": 6.6,
          "value": 5
        },
        {
          "color": "#000000",
          "dashLength": 0,
          "date": "1899-11-29 24:00",
          "fillAlpha": 1,
          "fillColor": "#E8E8E8",
          "fontSize": 12,
          "id": "Hyper",
          "inside": true,
          "label": "Hyper",
          "toValue": 14,
          "value": 8
        },
        {
          "fillAlpha": 1,
          "fillColor": "#E8E8E8",
          "fontSize": 3,
          "id": "hyper-bg",
          "toValue": 99,
          "value": 8
        }
      ],
      "valueAxes": [
        {
          "axisTitleOffset": 13,
          "id": "ValueAxis-1",
          "axisAlpha": 0,
          "axisThickness": 0,
          "firstDayOfWeek": 0,
          "gridAlpha": 0,
          "minorGridAlpha": 0,
          "title": "Axis title"
        }
      ],
      "allLabels": [],
      "balloon": {},
      "titles": [
        {
          "color": "#000",
          "id": "Title-bloedsuiker",
          "size": 20,
          "text": "Chart Title"
        }
      ],
      "dataProvider":
        #{@measures}
    }
  );