.panel.panel-default
  .panel-body
    .row
      .col-md-9
        .title
          Hba1c
      .col-md-3
        .check
    .row
      .col-md-12
        .row
          .col-md-4
            .pastvalue 
              - if @hba1cs.first.present? 
                = @hba1cs.first.mmol 
              - else 
                N/A
          .col-md-4
            .newvalue 
              - if @hba1cs.last.present? 
                = @hba1cs.last.mmol 
              - else 
                N/A
          .col-md-4      
            .unit
              MMO/L
    - if @client_hba1c_target.present?
      Streefwaarde
      %hr
      = @client_hba1c_target.mmol
    .row
      .col-md-12
        .lastdate
          -  if @hba1cs.last.present?
            = @hba1cs.last.activity_date.strftime("Hba1c laatst gemeten op: %d-%m-%Y")
          - else
            Laatste meetmoment is onbekend