.panel.panel-default
  .panel-body
    .row
      .col-md-9
        .title
          Hartslag
      .col-md-3
        .heart
    .row
      .col-md-12
        %hr
    .row
      .col-md-12
        .row
          .col-md-4
            .pastvalue
              - if @heartrates.first.present?
                = @heartrates.first.pulse 
              - else
                N/A
          .col-md-4
            .newvalue 
              - if @heartrates.last.present?
                = @heartrates.last.pulse 
              - else
                N/A
          .col-md-4      
            .unit
              BPM
    - if @client_heartrate_target.present?
      %hr
      Streefwaarde
      = @client_heartrate_target.pulse
    .row
      .col-md-12
        .lastdate
          -  if @heartrates.last.present?
            = @heartrates.last.activity_date.strftime("Laatst gemeten op: %d-%m-%Y")
          - else
            Laatste meetmoment is onbekend