.row
  .col-md-12
    .row
      .col-md-12
        %p.title
          Medicatie lijst
        %table
          %tr
            %td.complain-title
              Medicatie
            %td.complain-title
              Dosering
        %hr
    .content-container
      .row
        .col-md-12        
          %table
            %tr
              %td.plain-text
                NovoRapid Flexpen
              %td 

              %td.plain-text
                6 Eenheden
            %tr
              %td.plain-text
                Lantus SoloStar
              %td 
                %br
              %td.plain-text
                2 Eenheden om 17:50
            %tr
              %td.plain-text
                Metformine HCI
              %td 
                %br
              %td.plain-text
                6 tabletten 100mg
            %tr
              %td.plain-text
                Simvastatine
              %td 
                %br
              %td.plain-text
                2 tabletten 100mg







            //   %ul
            //   %li.plain-text 6 Eenheden
            //   %li.plain-text 2 Eenheden om 17:50
            //   %li.plain-text 6 tabletten 100mg
            //   %li.plain-text 2 tabletten 100mg
            //    .col-md-1

