.content-container
  .row
    .col-md-12        
      %table
        %tr
          %td.plain-text
            NovoRapid Flexpen
          %td 
          
          %td.plain-text
            6 Eenheden
        %tr
          %td.plain-text
            Lantus SoloStar
          %td 
            %br
          %td.plain-text
            2 Eenheden om 17:50
        %tr
          %td.plain-text
            Metformine HCI
          %td 
            %br
          %td.plain-text
            6 tabletten 100mg
        %tr
          %td.plain-text
            Simvastatine
          %td 
            %br
          %td.plain-text
            2 tabletten 100mg