.row
  .col-md-12
    .content-container
      .row
        .col-md-12
          .col-md-1
          .col-md-5
            %p.complain-title
              Medicatie
            %ul
              %li.plain-text NovoRapid Flexpen
              %li.plain-text Lantus SoloStar
              %li.plain-text Metformine HCI
              %li.plain-text Simvastatine
          .col-md-5
            %p.complain-title
              Dosering
            %ul
              %li.plain-text 6 Eenheden
              %li.plain-text 2 Eenheden om 17:50
              %li.plain-text 6 tabletten 100mg
              %li.plain-text 2 tabletten 100mg
          .col-md-1