.row
  .col-md-6
    .row
      .col-md-6
        .bg-blood-pressure
          .row 
            .col-md-9
              %p.header-txt Hartslag
            .col-md-3
              .heart 
          .row
            .col-md-12
              .row-2-blood-pressure
                .col-md-8.col-md-offset-2
                  %p.heart-rate-past 75 
                  %p.heart-rate 85
                  %p.header-txt-bpm BPM
          .row
            .col-md-12
              %p.footer-txt Hba1c laatst gemeten op 12-04-16
      .col-md-4