@import url(https://fonts.googleapis.com/css?family=Khula:400,800,700,600,300)

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)

body 
  background-color: #F2F2F2 

.recap-box
  height: auto
  background-color: #ffffff 
  margin-bottom: 15px
  .target
    color: #C0C0C0 
    font-weight: 600
    font-size: 19px
.check
  background-image: image-url("check.png")
  background-size: cover
  background-repeat: no-repeat
  height: 19px
  width: 25px
  text-align: right
  margin-top: 15px

.heart
  background-image: image-url("heart.png")
  background-size: cover
  background-repeat: no-repeat
  height: 16px
  width: 18px
  float: right
  margin-right: 80px

/*bloodpressure & heartrate*/

.header-text
  font-family: Khula

.legenda-overpressure
  width: 13px
  height: 13px
  background: #0E71AC
  border-radius: 50px
  -moz-border-radius: 50px 
  -webkit-border-radius: 50px

.legenda-underpressure
  width: 13px
  height: 13px
  background: #51BDE9
  border-radius: 50px
  -moz-border-radius: 50px 
  -webkit-border-radius: 50px

.legenda-text
  padding-left: 20px
  font-family: Khula

.pastvalue
  color: #C0C0C0 
  font-weight: 600
  font-size: 19px
  text-align: right
  margin-top: 26px
  margin-right: -20px
 
.newvalue
  font-weight: 800
  font-size: 35px
  text-align: center
  margin-top: 20px
 
.unit
  color: #6C6D6D 
  text-align: left
  margin-left: 60px
  margin-top: 29px
  margin-left: -20px

.lastdate
  font-size: 10px
  margin-left: 15px
  margin-top: 30px
  margin-bottom: 10px
.title
  margin-top: 10px
  font-size: 12px
  font-weigth: 600

.title-border
  hr
    margin-bottom: 0

.content-container2
  position: relative
  height: 600px
  max-width: 100%
  overflow-y: scroll
  overflow-x: hidden
  hr
    margin-bottom: 0
.content
  margin-bottom: 20px

.complain-title
  font-size: 16px
  color: #0E71AC 
  .target
    color: #C0C0C0  
    font-weight: 600
    font-size: 19px
.date-title
  font-size: 14px
  font-weight: 600

.author-title
  font-size: 14px
  font-weight: 400
  color: #9B9B9B

.plain-text
  font-size: 13px
  font-weight: 400
.bloed
  background-image: image-url("Bloed.png")

// nav
.nav-txt
  font-size: 18px
  font-family: "Khula"
  color: #000000
  padding-left: 50px
  line-height: 50px
  position: relative
  top: 7px
  &:hover
    color: #0e71ac
    text-decoration: none
    transition: color 0.5s ease

.header-logo
  height: 32px
  width: 32px

// clienten overzicht
.co-bg
  height: 375px
  width: 100%
  background-image: image-url("co-bg.jpg")

.instelling-image
  height: 100px
  width: 230px
  border-radius: 6px
  background-image: image-url("instelling-replacement.jpg")
  background-size: cover
  background-repeat: no-repeat
  margin-top: -150px

// searchbox
.search
  height: 60px
  background-color: #E7E4E4
  margin-top: -110px

%form
  width: 800px

.client-container
  background-color: #F9F9F9
  height: 60px
  margin-top: 20px
  border-style: solid
  border-width: 1px
  border-color: #E9E9E9
  &:hover
    box-shadow: $box-shadow

.cc-child
  margin-top: 20px

.client-photo
  width: 50px
  height: 50px
  margin-top: 5px
  background-image: image-url("client-replacement.jpg")
  background-size: cover
  background-repeat: no-repeat

.arrow-next
  background-image: image-url("arrow-left.png")
  background-size: cover
  background-repeat: no-repeat
  background-size: 50%
  height: 15px
  width: 15px
  margin-top: 22px
  &:hover
    background-image: image-url("arrow-left-hvr.png")
    transition: color 0.5s ease

.txt-clinetenoverzicht-h1
  font-size: 16px
  font-family: "khula"
  color: #000000
  font-weight: 600
  line-height: 16px
  margin-top: 11px

.txt-clinetenoverzicht-h2
  font-size: 13px
  font-family: "khula"
  color: #000000
  font-weight: 300
  line-height: 13px
  margin-top: 7px

.nav-margin-top
  margin-top: 80px
.checkmark_success, .cross_danger, .exclamation_mark_warning
  display: block
  text-indent: -9999px
  width: 19px
  height: 19px
  background-size: 19px
.checkmark_success
  background: image-url("checkmark_success.svg")
.exclamation_mark_warning
  background: image-url("exclamation_mark_warning.svg")
.cross_danger
  background: image-url("cross_danger.svg")


/* Icoon als de content zichtbaar is */
.btn.btn-info.client-collapse:after 
  font-family: "Glyphicons Halflings"
  content: "\e114"
  float: right
  margin-left: 15px
  
/* Icoon als de content verborgen is */
.btn.collapsed:after 
  content: "\e080"

/* heartrate */

.past-value-heartbeat
  color: grey

/* legenda cholesterol*/

.legenda-cholesterol 
  margin-top: 20px

.title, .legenda-cholesterol
  display: inline-block !important

.lengenda-HDL
  float: left
  width: 13px
  height: 13px
  background: #FF6851
  border-radius: 50px
  -moz-border-radius: 50px 
  -webkit-border-radius: 50px

.legenda-LDL
  float: left
  margin-left: 40px
  width: 13px
  height: 13px
  background: #FF8B78
  border-radius: 50px
  -moz-border-radius: 50px 
  -webkit-border-radius: 50px

.lengenda-remnand
  float: left
  margin-left: 40px
  width: 13px
  height: 13px
  background: #FFAE2A
  border-radius: 50px
  -moz-border-radius: 50px 
  -webkit-border-radius: 50px

.legenda-text
  padding-left: 20px
  font-family: Khula
