.title
	font-size: 18px
	font-weigth: 800

.content-container
	position: relative
	height: 100px
	max-width: 100%
	overflow-y: scroll
	overflow-x: hidden

.complain-title
	font-size: 16px
	color: #0E71AC 
	font-weight: 600

.date-title
	font-size: 14px
	font-weight: 600

.author-title
	font-size: 14px
	font-weight: 400
	color: #9B9B9B 

.plain-text
	font-size: 13px
	font-weight: 400

hr
	heigh: 10px
	background-color: #0E71AC

tr
	height: 30px


.table
	padding: 30px
	margin-right: 50px
	.td
		width: 600px
		padding: 30px
		margin-right: 50px
		padding-left: 998px



