<!DOCTYPE html>
<html>
<head>
  <title>DataMonitoring</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <nav>
    <div class="nav1">
        <ul>
          <a class="nav-txt-2 nav-txt-first-child">Richard de Vries</a>
          <a class="nav-txt-2 nav-txt-child" href="#">INSTELLINGEN OVERZICHT </a>
          <a class="nav-txt-2 nav-txt-child" href="#">CLIENTEN OVERZICHT</a>
          <a class="nav-txt-2 nav-txt-last-child" href="#">UITLOGGEN</a>
        </ul>
      </div>
    </div>
    <div class="nav2">
        <ul class="test">
          <div class="header-logo"></div>
          <!--<img alt="LocatiePhoto" class="header-logo" src="swettehiem.jpg"/>-->
          <a class="nav-txt" href="#">Swettehiem</a>
          <a class="nav-txt" href="#">Uitgebreide persoonsgegevens </a>
          <a class="nav-txt" href="#">Gegevens invullen</a>
          <a class="nav-txt" href="#">Streefwaarden invoeren</a>
        </ul>
      </div>
    </div>
  </nav>




  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
