<!DOCTYPE html>
<html>
<head>
  <title>DataMonitoring</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <nav>
    <div class="nav1">
        <ul>
          <a class="nav-txt-2 nav-txt-first-child">Richard de Vries</a>
          <a class="nav-txt-2 nav-txt-child" href="#">INSTELLINGEN OVERZICHT </a>
          <a class="nav-txt-2 nav-txt-child" href="#">CLIENTEN OVERZICHT</a>
          <a class="nav-txt-2 nav-txt-last-child" href="#">UITLOGGEN</a>
        </ul>
      </div>
    </div>
    <div class="nav2">
        <ul class="nav navbar-nav">
          <div class="header-logo"></div>
          <li><a class="nav-txt" href="#">Swettehiem</a></li>
          <li><a class="nav-txt" href="#">Uitgebreide persoonsgegevens </a></li>
            <li>
              <a class="nav-txt dropdown dropdown-toggle" data-toggle="dropdown">Meetwaarden invoeren</a>
              <ul class="dropdown-menu">
                <li><a href="#">Glucose</a></li>
                <li><a href="#">HbA1c</a></li>
                <li><a href="#">Bloeddruk</a></li>
                <li><a href="#">Hartslag</a></li>
                <li><a href="#">Cholesterol</a></li>
                <li><a href="#">Weight</a></li>
                <li><a href="#">Medication</a></li>
                <li><a href="#">Voeding</a></li>
                <li><a href="#">Activiteit</a></li>
                <li><a href="#">Klachten</a></li>
                <li><a href="#">Insuline</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-txt dropdown" data-toggle="dropdown">Streefwaarden invoeren</a>
              <ul class="dropdown-menu">
                <li><a href="#">Glucose</a></li>
                <li><a href="#">HbA1c</a></li>
                <li><a href="#">Bloeddruk</a></li>
                <li><a href="#">Hartslag</a></li>
                <li><a href="#">Cholesterol</a></li>
                <li><a href="#">Weight</a></li>
              </ul>
            </li>
          </div>
        </ul>
      </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
